@{
    var nonce = Context.Items["CspNonce"] as string;
}

<div class="slayt-gorsel" id="slaytGorsel" hidden aria-hidden="true">
    <button type="button" class="slayt-gorsel__close" data-slayt-close aria-label="Slaytı kapat">
        <i class="fas fa-times" aria-hidden="true"></i>
    </button>
    <button type="button" class="slayt-gorsel__nav slayt-gorsel__nav--prev" data-slayt-prev aria-label="Önceki görsel">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
    </button>

    <figure class="slayt-gorsel__figure" id="slaytGorselFigure">
        <img src="" alt="" id="slaytGorselImage" decoding="async" />
        <figcaption class="slayt-gorsel__caption">
            <span id="slaytGorselTitle"></span>
            <span class="slayt-gorsel__count" id="slaytGorselCount"></span>
        </figcaption>
    </figure>
    <p class="slayt-gorsel__swipe-hint" id="slaytGorselSwipeHint" aria-hidden="true">
        <i class="fas fa-hand-pointer" aria-hidden="true"></i>
        Kaydırarak gezin
    </p>
    <div class="slayt-gorsel__dots" id="slaytGorselDots" role="tablist" aria-label="Slayt konumu"></div>
    <div class="slayt-gorsel__thumbs" id="slaytGorselThumbs" aria-label="Slayt küçük görseller"></div>

    <button type="button" class="slayt-gorsel__nav slayt-gorsel__nav--next" data-slayt-next aria-label="Sonraki görsel">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
    </button>
    <div class="slayt-gorsel__backdrop" data-slayt-close aria-hidden="true"></div>
</div>

