@import url("./dashboard.css");

@media (max-width: 900px) {
    .sales-grid.cards-4 {
        grid-template-columns: 1fr 1fr;
    }

    .sales-grid.cols-2 {
        grid-template-columns: 1fr;
    }

    .sales-list-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
