<footer class="footer footer-transparent d-print-none user-panel-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="text-muted">Otelturizm kullanıcı paneli · Rezervasyon, favori ve hesap işlemleri</div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="/yardim-merkezi" class="link-secondary">Yardım</a></li>
                    <li class="list-inline-item"><a href="/oteller" class="link-secondary">Oteller</a></li>
                    <li class="list-inline-item"><a href="/panel/user/guvenlik-ve-giris" class="link-secondary">Güvenlik</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="~/assets/js/konum-kordinat.js" asp-append-version="true"></script>
