@using otelturizmnew.Models.Paneller.Admin
@model AdminShellViewModel

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button" aria-label="Menüyü aç/kapat">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/dashboard" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/yardim-merkezi" class="nav-link">Contact</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button" aria-label="Arama">
                <i class="fas fa-search"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-label="Mesajlar">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">3 yeni mesaj</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Yeni partner başvurusu bildirimi</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Sözleşme hatırlatma bildirimi</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-label="Bildirimler">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">@Model.UnreadNotifications</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">@Model.UnreadNotifications bildirim</span>
                <div class="dropdown-divider"></div>
                <a href="/admin/bildirimler" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> Bildirim merkezine git
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button" aria-label="Tam ekran">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item ml-2 d-flex align-items-center">
            <a href="/admin/bildirimler" class="btn btn-sm btn-light border mr-2">
                <i class="far fa-bell mr-1"></i> @Model.UnreadNotifications bildirim
            </a>
            <form method="post" action="/cikis-yap" class="m-0">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-danger btn-sm">
                    <i class="fas fa-sign-out-alt mr-1"></i> Çıkış Yap
                </button>
            </form>
        </li>
    </ul>
</nav>
