<?xml version="1.0" encoding="utf-8"?>
<!--
  Paket 193: Bağlantı dizileri repoda tutulmaz.
  IIS’te Application Settings veya burada environmentVariables ile tanımlayın:
    ConnectionStrings__DefaultConnection
    ConnectionStrings__dbbaglan (kullanılıyorsa)
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\otelturizmnew.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
