<?xml version="1.0" encoding="utf-8"?>
<!--
  Production / IIS bağlantı ayarları.
  Local Development için appsettings.Development.json kullanılır.
  Canlı IIS için environmentVariables içindeki MSSQL bağlantıları esas alınır.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\otelturizm.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\App_Data\logs\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="DevelopmentGate__Enabled" value="false" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Data Source=185.111.244.246;Initial Catalog=otelturizm_2026db;User ID=sa;Password=Nusret.34.34.-;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
          <environmentVariable name="ConnectionStrings__dbbaglan" value="Data Source=185.111.244.246;Initial Catalog=otelturizm_2026db;User ID=sa;Password=Nusret.34.34.-;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
