<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-brand">
                <a href="/" class="footer-logo-link">
                    <partial name="~/Views/Anasayfa/_AnasayfaLogo.cshtml" />
                </a>
                <p>Güvenli rezervasyon, 7/24 destek ve kurumsal seyahat standartlarıyla Türkiye'nin dijital konaklama platformu.</p>
            </div>
            <div class="footer-columns">
                <div class="footer-col">
                    <div class="footer-links">
                        <h5>Keşfet</h5>
                        <ul>
                            <li><a href="/oteller">Oteller</a></li>
                            <li><a href="/kampanyalar">Kampanyalar</a></li>
                            <li><a href="/oteller?filter=weekend">Hafta sonu</a></li>
                            <li><a href="/deneyimler">Deneyimler</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h5>Kurumsal</h5>
                        <ul>
                            <li><a href="/kurumsal">Business Lounge</a></li>
                            <li><a href="/kurumsal">Kurumsal seyahat</a></li>
                            <li><a href="/rezervasyon-sorgula">Rezervasyon sorgula</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-links">
                        <h5>Güvence</h5>
                        <ul>
                            <li><a href="/yardim-merkezi">Yardım</a></li>
                            <li><a href="/sss">SSS</a></li>
                            <li><a href="/sozlesmeler/kullanici-kullanim-kosullari" target="_blank" rel="noopener noreferrer">Kullanıcı sözleşmesi</a></li>
                            <li><a href="/sozlesmeler/kullanici-kvkk-aydinlatma" target="_blank" rel="noopener noreferrer">KVKK</a></li>
                        </ul>
                    </div>
                    <div class="footer-links footer-links-partner">
                        <h5>İş Ortakları</h5>
                        <ul>
                            <li><a href="/partner-giris?sekme=kayit">Otelini kaydet</a></li>
                            <li><a href="/partner-giris">Partner girişi</a></li>
                            <li><a href="/firma-giris">Firma girişi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 OTELTURİZM. Tüm hakları saklıdır.</p>
            <div class="secure-logos">
                <span>SSL Secured</span>
                <span>Güvenli ödeme</span>
                <span>KVKK uyumlu</span>
            </div>
        </div>
    </div>
</footer>
