@* Layout: _EmailMaster *@
@* EmailTitle: Otelturizm · Komisyon Ödeme Bildirimi *@
@* Preheader: {{PeriodText}} *@
@* HeaderTagline: Muhasebe Bildirimi *@
@* HeaderTitle: Komisyon Ödeme Özeti *@
@* HeaderSubtitle: {{PeriodText}} *@
@* FooterLine1: Detaylı rezervasyon kırılımını partner panelinizde Finans &gt; Komisyonlar ekranından inceleyebilirsiniz. *@
@* FooterLine2: Otelturizm Partner Ağı *@
@* FooterLegal: Bu bildirim Otelturizm muhasebe sistemi tarafından kuyruklanmıştır. *@
                    <tr>
                        <td class="email-pad">
                            <p class="email-greeting">Sayın <strong>{{HotelName}}</strong> yetkilisi,</p>
                            <p class="email-lead">
                                Seçili dönem için Otelturizm komisyon ödeme bildiriminiz aşağıdaki gibidir.
                            </p>

                            <table role="presentation" cellpadding="0" cellspacing="0" border="0" class="email-card">
                                <tr>
                                    <td class="email-card__cell">
                                        <p class="email-card__label">Dönem Özeti</p>
                                        <p class="email-card__row"><strong>Toplam ciro:</strong> {{GrossRevenue}}</p>
                                        <p class="email-card__row"><strong>Komisyon toplamı:</strong> {{CommissionTotal}}</p>
                                        <p class="email-card__row"><strong>Rezervasyon sayısı:</strong> {{ReservationCount}}</p>
                                        <p class="email-card__row"><strong>Satılan oda:</strong> {{SoldRoomCount}}</p>
                                        <p class="email-card__row"><strong>Planlanan ödeme günü:</strong> {{PaymentDueDate}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
