@* Layout: _EmailMaster *@
@* EmailTitle: {{contract_bundle_title}} *@
@* Preheader: Sözleşme ve KVKK içerikleriniz *@
@* HeaderTagline: Otelturizm *@
@* HeaderTitle: {{contract_bundle_title}} *@
@* HeaderSubtitle: {{module_label}} hesabınız için geçerli sözleşme ve KVKK içerikleri *@
@* FooterLine1: 7/24 destek: destek@otelturizm.com *@
@* FooterLine2: Otelturizm *@
@* FooterLegal: Bu e-posta bilgilendirme amaçlıdır. *@
                    <tr>
                        <td class="email-pad">
                            <p class="email-greeting">Merhaba <strong>{{recipient_name}}</strong>,</p>
                            <p class="email-lead">
                                {{module_label}} hesabınız için geçerli sözleşme ve KVKK içeriklerini aşağıda bulabilirsiniz.
                            </p>
                            <div style="margin:0 0 20px;">{{contract_sections_html}}</div>
                            <p class="email-muted">
                                Tüm içeriklere buradan da erişebilirsiniz:
                                <a href="{{primary_contract_url}}" class="email-link">Sözleşmeyi görüntüle</a>
                            </p>
                        </td>
                    </tr>
