@model otelturizmnew.Models.Firma.FirmaLandingPageViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firma - Otelturizm</title>
            <link rel="stylesheet" href="~/assets/vendor/fonts/inter/inter-local.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/vendor/fontawesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/site-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/firma.css" asp-append-version="true" />
</head>
<body class="firma-page">
    <partial name="~/Views/Firma/_FirmaHeader.cshtml" model="Model" />
    <partial name="~/Views/Firma/_FirmaContent.cshtml" model="Model" />
    <partial name="~/Views/Anasayfa/_AnasayfaFooter.cshtml" />
</body>
</html>

